


 
           
                <div class = "row">
                            
                    <form class="flexsearch--form " ng-submit= "ctrl.findUser()">
                  <div class="flexsearch--wrapper col-xs-12 col-md-12 ">
                         
                                    <input class= " col-xs-12 col-md-4 flexsearch--input" ng-model="ctrl.username" type="search" placeholder="search"
                                   ng-disabled = "ctrl.disable"
                                    >   

                                  <!--    <input type="submit" class=" col-xs-12 col-md-1 flexsearch--submit" ng-disabled= "disableSearch(ctrl.username)"  value="&#10140;"/>

                              -->

                              
                               
                               </div>

                            </form>
                    </div>

                          <div class="panel col-xs-12 col-md-4"">
                          <ul>
                            <div >
                              <li ng-repeat="friend in ctrl.friends  | filter:ctrl.username  track by $index"  ng-hide = "ctrl.disable">

                              <p >
                                  {{friend}}   
                                <button id = "addicon" ng-disabled ="friend.shouldIdisable" ng-click="ctrl.updateFriends(friend)" ng-hide="friend.shouldIdisable" 


                                >
                                  <img src = 'images/add.png'   
                                  /> 



                                </button> 

                                    <img src = 'images/disabled.png'  id ="addicon" ng-show="friend.shouldIdisable" 
                                  /> 
                              </p>      
                            
                              </li>

                          </ul>
                     </div>
                    </div>

                       <button class = "btn btn-success" id = "createGroup" ng-click = "ctrl.createGroup()" ng-disabled ="ctrl.groupDisable" > Create Group! </button> -->
                </div>



