
<div class="jumbotron">
<div class = "formBox form-group">
  <h1>Split your payments. All in one place.</h1>
  <h2>See how you can track your payments with one simple step. </h2>

  <form name = "frm" method= "post" action="/">
        <input type="text" class= "form-control formNameStyle input-lg " name="user_name" placeholder="First Name">
        <input type="text" class= "form-control formNameStyle input-lg  " name="user_name" placeholder="Last Name">
         <br>
        <input type="email" class= "form-control formStyle input-lg " name="user_email" placeholder="Email" ng-model="user.email"><br>
        <input type="password" class= "form-control formStyle input-lg"  name="user_password" placeholder="Password"> <br>
        <input type="submit" class = "btn btn-primary formStyle input-lg" value="Submit">


      </form>

    </div>
</div>






