
<nav class="navbar navbar-default" id= "hovergreen">
  <div class="container-fluid" id="green">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- UIB -->
    <div  class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" uib-dropdown-menu role="menu" id="hovergreen">
        <li class="active">

        <li><a ui-sref="navUser.account">Home</a></li>
        <li><a ui-sref='navUser.addcoup'>New Group</a></li>


   


        
      </ul>
      






  




      <ul class="nav navbar-nav navbar-right" id ="dropdowngreen">
               <li class="dropdown" uib-dropdown on-toggle="ctrl.toggled(open)">

              <a  href id="simple-dropdown" uib-dropdown-toggle>
                <notification-icon count="ctrl.friendlist.length">
                  <img src="images/bell.png">
                  <i class="fa fa-envelope-o fa-3x"></i>
                </notification-icon>
              </a>

  <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
        <li ng-repeat="item in ctrl.friendlist track by $index" > You have been charged $ {{item.amount}} to {{item.Postedby}} </li>
  </ul>
</li>



            <li class="dropdown" id ="fagg" uib-dropdown is-open="status.isopen">




          <a   role="button" ng-click="ctrl.gotocc()" aria-haspopup="true" uib-dropdown-toggle  aria-expanded="false"> {{ctrl.name}} <span class="caret"></span></a>
          <ul class="dropdown-menu" id =droppayment  >
            <li><a ng-click = "ctrl.gotocc()">Payment method</a></li>
            <li><a>My transactions</a></li>
            <li role="separator" class="divider"></li>
            <li><a ng-click ="ctrl.signOut()">Sign out</a></li>
          </ul>
        </li>

        

      </ul>
        











    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<ui-view></ui-view>